<h1>welcome to rock paper scissors 🙂</h1>

<h2>instructions</h2>
  <ol>
    <li>type this in url bar to start game:<br>http://localhost:4567/game</li><br>
    <li>player 1 enters their choice first, it will now look something like this:<br>http://localhost:4567/game/rock</li><br>
    <li>player 2 enters their choice, it will look something like this:<br>http://localhost:4567/game/rock/paper</li><br>
    <li>press enter!</li>
  </ol>
